@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  /* font family */
  --font-bitcount: "Bitcount Prop Single";
  --font-nunito: "Nunito", sans-serif;
  /* colors */
  --color-poke-blue: #5fa3e5;
  --color-poke-bluegray: #b1cbc9; 
  --color-poke-text: #2a323c;
  /* box shadow */
  --shadow-header: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border-radius */
  --round-figure: 13px;
}

body {
  background-color: #fffff1;
}

#root {
  display: grid;
  height: 100dvh;
  grid-template-rows: clamp(80px, 15dvw, 150px) auto;
}

header {
  grid-row: 1;
}

main {
  grid-row: 2;
}

@media screen and (width <= 40rem) {
  .game-logo {
    width: clamp(50px, 10dvw, 90px);
  }

  .score-section {
    font-size: 18px;
  }

  main {
    padding: 2rem;
  }

  button {
    width: 100%;
  }

  .card-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(4, minmax(100px, 1fr));
    gap: .8rem;
    font-size: .8rem;
  }
}